@switch (currentRoute()) {
@case ('button') {
<lib-button [documentation]="true"></lib-button>
}
@case ('card') {
<lib-card></lib-card>
}
@default {
<h3>Introduction</h3>
<p>There isn't much happening here. It's just a hands-on approach to understanding some core <a
        href="https://storybook.js.org/docs" target="_blank" rel="nofollow">Storybook</a> concepts. Oh, and
    setting up <a href="https://nx.dev/recipes/storybook/overview-angular" target="_blank" rel="nofollow">Storybook for
        Angular projects</a> in Nx workspace.</p>
}
}