<div class="wrapper">
    <div class="container">
        <div class="header">
            <h6>NX-UI-LIB-TESTS</h6>
            <h2>UI Components</h2>
        </div>
        <div class="content">
            <div class="sidebar">
                <ul>
                    @for (menu of menus; track $index) {
                    <li routerLink="ui/{{menu.component}}" routerLinkActive="active">{{menu.label}}</li>
                    }
                </ul>
            </div>
            <div class="details">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>