<div class="wrapper">
    <div class="container">
        <div class="header">
            <h6>NX-UI-LIB-TESTS</h6>
            <h2>UI Components</h2>
        </div>
        <div class="content">
            <div class="sidebar">
                <ul>
                    <li class="active">Button</li>
                    <li>Card</li>
                </ul>
            </div>
            <div class="details">
                <p>Blah!</p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>